/*
multi
line
comment
*/









h1{
    text-align: center;
 text-decoration:underline;
font-family: "Gurmukhi Sangam MN"
}

* {background-color: blueviolet}

ul{
    list-style-type:upper-roman;
text-align: center;

}

h2{

    text-align: center;
}

ol{

    list-style: ;
}

h6{
    text-align: center;
}