
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#map {
    height: 45rem;
    width: 45rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


map{


}